:root{
    --primary-color: #101d21;
    --secondary-color: #335c67;
    --vanilla-color: #fff3b0;
    --tertiary-color: #e09f3e;
    --auburn-color: #9E2A2B;
    --choco-color: #540B0E;

    --roboto: "Roboto", sans-serif;
    --roboto-slab: "Roboto Slab", serif;
    --playfair: "Playfair Display", serif;
    --poetsen: "Poetsen One", sans-serif; 
}

* {
    box-sizing: border-box;
}
  
body {
    margin: 0;
    font-family: var(--roboto);
    color: var(--primary-color);
    background-color: var(--vanilla-color);
}

header{
    display: flex;
    align-items:end;
    text-align: center;
    font-family: var(--poetsen);
    font-size: 1.5rem;
    color: var(--tertiary-color);
    border-bottom: 1px solid var(--secondary-color);
    background-color:var(--choco-color);
}

.logo{
    height: 150px;
    width: auto;
    margin: 1rem 1rem 2rem 1rem;
    border-radius: 30%;
}

nav{
    display: flex;
    justify-content: space-around;
    height: 50%;
    margin-bottom: 2rem;
}

nav a{
    padding: 1rem;
    text-decoration: none;
    color: var(--vanilla-color);
    margin: .1rem;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 3rem;
    padding-bottom: 7rem;
}

.heroImage{
    width: 100%;
    height: auto;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2);
}

.cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
}

.card{
    text-align: center;
    background-color: var(--tertiary-color);
    border: 1px solid #101d21;
    padding: 2rem;
    width: 30%;
    box-shadow: 1px 3px 3px 2px var(--primary-color);
}

.card a{
    text-decoration: none;
    color: var(--vanilla-color);
    font-size: 2rem;
}

.card:hover{
    background-color: var(--secondary-color);
    color: var(--vanilla-color);
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:var(--choco-color);
    padding: 1rem;
    position: fixed;
    bottom:0%;
    width: 100%;
    height: 7rem;
}

.titleFooter{
    text-align: center;
    padding: 1rem;
    color: var(--vanilla-color);
}

.logoFooter{
    height: 100px;
    width: auto;
    border-radius: 30%;
}

.mainSearch{
    width: 90%;
    margin: auto;
    text-align: center;
}

.search{
    display: flex;
    justify-content: center;
    align-items: end;
}

.categoryDiv, .searchDiv{
    display: flex;
    flex-direction: column;
}

.categoryLabel, .categorySelect, .searchLabel, .searchInput, .searchButton{
    margin: .5rem;
    font-size: 1rem;
    font-weight: bold;
    font-family: var(--roboto);
    border-radius: 5px;
}
.searchButton{
    background-color:#e09f3e;
    color: #101d21;
    padding: .3rem;
}

.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
  gap: 1rem; 
  padding: 1rem;
}

.listTitle{
    text-align: center;
    width: 100%;
    margin: 2rem;
}

.resultCard {
  background-color: var(--secondary-color);
  border: 1px solid var(--tertiary-color);
  color: var(--primary-color);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  width: calc(25% - 2rem); 
  box-sizing: border-box; 
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.bookTitle {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0.5rem 0;
}

.bookAuthor {
  font-size: 1rem;
  color: var(--vanilla-color);
  margin-bottom: 1rem;
}

.cover {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

@media (max-width: 768px) {
  .resultCard {
    width: calc(50% - 2rem); 
  }
}

@media (max-width: 480px) {
  .resultCard {
    width: calc(100% - 2rem); 
  }
}